/*@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-VariableFont_wght.ttf');
	font-style: normal;
	font-variation-settings: 'wdth' 300;
}*/

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Regular.woff2') format("woff2");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-SemiBold.woff2') format("woff2");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: 'Montserrat';
	src: url('Montserrat-Bold.woff2') format("woff2");
	font-style: normal;
	font-weight: 800;
}